<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<table style="font-family:'Arial'; background-color:#FFFFFF;" width="680" border="0" align="center" cellpadding="0"
       cellspacing="0">
    <tr>
        <td colspan="2" align="left" valign="top"
            style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(68, 66, 66);">
            <h4><span th:text="#{email.welcome.dear}"></span> <span th:text="${receiverName}"></span>,
            </h4>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" valign="top"
            style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(68, 66, 66);">
            <h5>
                <p>
                    <span th:text="#{email.account.credit}"></span>
                    <span th:text="${currencySymbol}"></span>
                    <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(75, 89, 81);"
                          th:text="${#numbers.formatDecimal(value, 0, 'DEFAULT', 2, 'DEFAULT')}"></span>
                    <span th:text="#{account.on}"></span>
                    <span th:text="${#dates.format(date, dateFormat)}"></span>.
                </p>
                <p>
                    <span th:text="#{email.account.receive}"></span>
                    <span th:text="${walletUser}"></span>.
                </p>
                <p>
                    <span th:text="#{email.account.description}"></span> :
                    <span th:text="${description}"></span>.
                </p>
                <p>
                    <span th:text="#{account.transaction.id}"></span>#
                    <span th:text="${transactionId}"></span>.
                </p>
                <p>
                    <span th:text="#{email.account.promotion}"></span>
                </p>
            </h5>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" valign="top"
            style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(68, 66, 66);">
            <div>
                <h6>
                    <span th:text="#{email.swiftwallet.team}" style="color:grey;"></span>
                    <p>
                        <span th:text="#{email.copyright}" style="color:grey;"></span>
                        <span th:text="#{email.contact.us}" style="color:grey;"></span>
                    </p>
                </h6>
            </div>
        </td>
    </tr>
</table>
</body>
</html>