<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<table style="font-family:'Arial'; background-color:#FFFFFF;" width="680" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2" align="left" valign="top"
            style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(68, 66, 66);">
            <h4>  <span th:text="#{email.welcome.dear}"></span>&nbsp;<span th:text="${receiverName}"></span>,</h4>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(68, 66, 66);">
            <h5>
                <p><span th:text="#{email.reset.password.success}"></span>&nbsp;.</p>
            </h5>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" valign="top"
            style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(68, 66, 66);">
            <div>
                <h6>
                    <span th:text="#{email.swiftwallet.team}" style="color:grey;"></span>
                    <p>
                        <span th:text="#{email.copyright}" style="color:grey;"></span>
                        <span th:text="#{email.contact.us}" style="color:grey;"></span>
                    </p>
                </h6>
            </div>
        </td>
    </tr>
</table>
</body>
</html>